.container {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 300px;
  }
}

